.PostItem {
  margin-bottom: 5px;
  background: white;
  border-radius: 4px;
  display: flex;
  .left {
    margin: 15px;
    img {
      border-radius: 50%;
      width: 100px;
    }
    p {
      margin: 0;
    }
  }
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    line-height: 1.5;
    margin-bottom: 10px;
    &.thumbs {
      background: #edeef0;
      color: #6c757d;
      padding: 5px;
      border-radius: 4px;
      width: 4em;
      &:hover {
        background: darken($color: #edeef0, $amount: 5%);
      }
      span {
        margin-left: 3px;
      }
    }
    &.comment {
      background: #4a76a8;
      color: white;
      padding: 5px;
      border-radius: 4px;
      &:hover {
        background: darken($color: #4a76a8, $amount: 5%);
      }
    }
    &.delete {
      background: #dc3545;
      color: white;
      padding: 5px;
      border-radius: 4px;
      &:hover {
        background: darken($color: #dc3545, $amount: 5%);
      }
    }
  }
}
