.CommentItem {
  margin-bottom: 15px;
  background: white;
  border-radius: 4px;
  display: flex;
  .left {
    margin: 15px;
    img {
      border-radius: 50%;
      width: 100px;
    }
    p {
      margin: 0;
    }
  }
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    line-height: 1.5;
    margin-bottom: 10px;
    &.delete {
      background: #dc3545;
      color: white;
      padding: 5px;
      border-radius: 4px;
      &:hover {
        background: darken($color: #dc3545, $amount: 5%);
      }
    }
  }
}
