.Dashboard{
  background: white;
  width: 768px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  h1{
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  div{
    font-size: 15px;
    line-height: 150%;
  }
  .button {
    background: #4a76a8;
    border: none;
    outline: none;
    color: white;
    padding: 12px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
  }
}
