.createProfile {
  background: white;
  width: 768px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  h1,
  p {
    text-align: center;
  }
}
