$baseColor: #4a76a8;
.navBar {
  background: $baseColor;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 12.5px;
  .container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .logo {
      display: inline-block;
      padding: 12px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      .avatar {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 10px;
      }
      .button {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 12px;
        cursor: pointer;
        &:hover {
          background: darken($color: $baseColor, $amount: 5%);
        }
      }
    }
  }
}
